# ===== IDEA =====
.idea/
*.iml
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/.local.xml

# ===== Maven =====
target/

# ===== IDEA build output =====
out/

# ===== Наша БД =====
data/
*.db

# ===== Логи =====
logs/

# ===== Smart Tomcat =====
.SmartTomcat/

# ===== OS =====
.DS_Store
Thumbs.db