# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextBackup
pom.xml.releaseBackup~
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Java
*.class
*.log
*.ctxt
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.bak
*.swp